@font-face {
    font-family: LemonMilk;
    src: url(fonts/LEMONMILK-Regular.otf);
}

@font-face {
    font-family: LemonMilkLight;
    src: url(fonts/LEMONMILK-Light.otf);
}

@font-face {
    font-family: Acumin;
    src: url(fonts/Acumin-Variable-Concept.ttf)
}