nav {
    height: 80px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    a {
        img {
            height: 60px;
        }
    }

    #right-nav {
        display: flex;
        gap: 50px;
        a {
            text-decoration: none;
            color: #fff;
            font-family: LemonMilk;
        }
    }
}

h1 {
    font-family: LemonMilk;
}