.work-hero {
    width: 100%;
    height: 400px;
    padding-top: 80px;
    background-image: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)), url(../images/work-hero.png); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        font-family: LemonMilkLight;
        font-size: 70px;
        color: #fff;
        border-bottom: 4px solid #fff;
        letter-spacing: 3px;
        margin-bottom: 50px;
    }
}

.work-row {
    width: 100%;
    height: 425px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .work-photo {
        width: 400px;
        height: 300px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 10px;
        filter: drop-shadow(15px 15px 0 #2F1F4D);
        transition: filter 0.3s;
    }

    .work-photo:hover {
        filter: drop-shadow(15px 15px 0 #7c3182);
    }

    .grav-pong {
        background-image: url(../images/grav-pong.JPG);
    }

    .eventsy {
        background-image: url(../images/eventsy.JPG);
    }

    .jungle-cook {
        background-image: url(../images/jungle-cook.JPG);
    }

    .health {
        background-image: url(../images/health.JPG);
    }

    .allegion {
        background-image: url(../images/allegion.png);
    }


    .work-text {
        h1 {
            width: 100%;
            font-family: LemonMilk;
            font-size: 40px;
            color: #fff;
            border-bottom: 3px solid #fff;
            margin-bottom: 30px;
        }
        p {
            color: #fff;
            width: 600px;
            font-family: Acumin;
            font-size: 20px;
            line-height: 150%;
        }
    }
}